.logo
    width: 80px
    height: 80px
    text-align: right
    border: 2px solid #fff
    padding: 8px 10px
    word-break: break-word
    color: #fff
    font-weight: 500
    font-size: 14px
    line-height: 16px
    fixed: top 24px left 24px

body
    background-color: #000
    overflow: hidden
