.logo
    width: 80px
    height: 80px
    text-align: right
    border: 2px solid #fff
    padding: 8px 10px
    word-break: break-word
    color: #fff
    font-weight: 700
    font-size: 14px
    line-height: 16px
    display: flex
    align-self: flex-start
    justify-self: flex-start
    flex-shrink: 0
    // fixed: top 24px left 24px

.venture
    // fixed: bottom 24px right 24px
    padding: 12px 16px
    border-radius: 4px
    background-color: rgba(255, 255, 255, .1)
    line-height: 22px
    font-size: 14px
    align-self: flex-end
    justify-self: flex-end
    margin-top: 24px
    a
        color: #fff
        font-weight: 600
        &:hover
            text-decoration: underline

body
    background-color: #000
    min-height: 100%
    height: auto

section.main
    display: flex
    align-items: center
    justify-content: space-between
    min-height: 100%
    width: 100%
    max-width: 100%
    flex-direction: column
    padding: 24px
    .inner
        width: 100%
        max-width 804px
        margin: 48px 0

+below('m')
    h1
        font-size: font-size-h2
